<div class="container custom-container-2">
  <div class="no-data text-center" *ngIf="Empleado.length == 0">
    <p>No hay empledaodos</p>
  </div>
  <div  *ngIf="Empleado.length != 0">
    <h3 class="mb-3 text-center">Empleados Existentes</h3>
  </div>
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Identificador</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Email</th>
          <th scope="col">Telefono</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let  empleado of Empleado, index as i" (click)="eliminarEmpledado(empleado.id,empleado.nombre,empleado.apellidos)">
            <td>{{empleado.id}}</td>
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.apellidos}}</td>
            <td>{{empleado.email}}</td>
            <td>{{empleado.telefono}}</td>
            <td>
                <a class="edit" [routerLink]="['/ActualizarCliente',empleado.id ]">Actualizar</a><br>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
