<button class="btn btn-outline-success" (click)="consultarGet()">Get</button>
<br>
<br>
<button class="btn btn-primary" (click)="consultar()">Post</button>
<br>
<br>
<button class="btn btn-primary" (click)="consultarUsuarios()">Get Usuarios</button>
<!-- 
*ngIf="result1.lenght !=0" -->


<div class=" col-md-12" *ngIf="result1.lenght !=0">
      <table class="table table-borderd">
            <thead>
                  <tr>
                        <th scope="col">id</th>
                        <th scope="col">id padre</th>
                        <th scope="col">contenido</th>
                        <th scope="col">titulo</th>
                        <th scope="col">fecha</th>
                  </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let empleado of result1 | keyvalue">
                        <td >{{empleado.value.resultado.id}}</td>
                        <td>{{empleado.value.resultado.id_padre}}</td>
                        <td>{{empleado.value.resultado.titulo}}</td>
                        <td>{{empleado.value.resultado.imagen}}</td>
                        <td>{{empleado.value.resultado.fecha_alta}}</td>
                  </tr>
            </tbody>
      </table>
</div>




<ul lass="list-group" *ngFor="let dato01  of respuesta001">
      <li class="list-group-item">
            <a>Email: {{dato01.results[0].gender}}</a>
      </li>
</ul> 


<!-- <ul lass="list-group" *ngFor="let dato01  of arrayData">
      <li class="list-group-item">
            <a>Email: {{dato01.results[0].gender}}</a>
      </li>
      <li class="list-group-item">
            <a>Email: {{dato01.info.seed}}</a>
      </li>
</ul>  -->`