<div class="container custom-container">
    <div class="col-md-12">
      
      <h5 class="mb-3 text-center">El empleado es: {{empleadoOptener.nombre}} {{empleadoOptener.apellidos}} </h5>
  
      <div class="form-group">
        <input type="text"  class="form-control" placeholder="Nombre" [(ngModel)]="empleadoOptener.nombre">
      </div>
  
      <div class="form-group">
        <input type="text"  class="form-control" placeholder="Apellidos" [(ngModel)]="empleadoOptener.apellidos">
      </div>
  
      <div class="form-group">
        <input type="text"  class="form-control" placeholder="Email" [(ngModel)]="empleadoOptener.email">
      </div>
      <div class="form-group">
          <input type="text"  class="form-control" placeholder="Telefono" [(ngModel)]="empleadoOptener.telefono"> 
        </div>

      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="actualizarEmpleado()">Actualizar</button>
      </div>
      
    </div>
  </div>    

<!-- <div class="mt-5">
  <h1>Nomobre: {{empleadoOptener.nombre}}</h1>
  <h1>apellidos: {{empleadoOptener.apellidos}}</h1>
  <h1>email: {{empleadoOptener.email}}</h1>
  <h1>telefono: {{empleadoOptener.telefono}}</h1>
</div> -->






<!-- 
  [(ngModel)]="empleadoData.nomble" -->