<div class="contaner custon-container">
  <div class="col-md-12">
    <h3 class="p-3 mb-2 bg-success text-white">Crear Empleado</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="empleadoDetalle.nombre" 
      [value]="limpiarNombre">

    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="empleadoDetalle.apellidos" name="apellidos"
      [value]="limpiarapellidos"
     >
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Email" [(ngModel)]="empleadoDetalle.email" name="email" 
      [value]="limpiarEmail">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Telefono" [(ngModel)]="empleadoDetalle.telefono" name="phone"
      [value]="limpiarphone">
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addEmpledado()">Guardar</button>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-sm" (click)="show =! show">Consultar Lista de  Empelados</button>
      <br>
      <br>
      <button class="btn btn-secondary btn-sm" (click)="show =! show" *ngIf="show == true ; else showdos">cerrar Ventana</button>
    </div>
  </div>
</div>


<div class="container" *ngIf="show">
  <br>
  <p #showdos></p>
  <app-lista-cliente></app-lista-cliente>
</div>


<!-- 
  +hjhhj
(ngModel)]="empledaoDetalle.phone" -->