<div class="contaner custon-container">
  <div class="col-md-12">
    <h3 class="p-3 mb-2 bg-success text-white">Crear Empleado</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="empleadoDetalle.nombre">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="empleadoDetalle.apellidos">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Email" [(ngModel)]="empleadoDetalle.email">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Telefono" [(ngModel)]="empleadoDetalle.telefono">
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addEmpledado()">Guardar</button>
    </div>
     <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addEmpledado()">Guardar</button>
    </div>
  </div>
</div>
<!-- 
  +hjhhj
(ngModel)]="empledaoDetalle.phone" -->